<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.chatton.marina.holdall">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".picasso.PicassoActivity" />
        <activity android:name=".palindrome.PalindromeActivity" />
        <activity android:name=".list.ListActivity" />
        <activity android:name=".list.ListItemActivity" />
        <activity android:name=".list2.List2Activity" />
        <activity android:name=".list2.List2ItemActivity" />
        <activity android:name=".FragmentActivity" />
        <activity android:name=".fragments.FragmentsActivity"></activity>
    </application>

</manifest>